apyori==1.1.1
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
Django==2.1.7
et-xmlfile==1.0.1
Flask==1.0.2
geographiclib==1.49
geopy==1.18.1
gunicorn==19.9.0
html2text==2018.1.9
idna==2.8
ItsDangerous==1.0.0
jdcal==1.4
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==3.0.1
mlxtend==0.13.0
more-itertools==4.3.0
mpmath==1.0.0
numpy==1.15.2
openpyxl==2.5.8
pandas==0.23.4
pluggy==0.8.0
py==1.7.0
pymongo==3.7.2
pyparsing==2.2.2
pytest==3.10.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.21.0
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
tabulate==0.8.2
tornado==5.1.1
urllib3==1.24.1
Werkzeug==0.14.1
xlrd==1.1.0
